@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}

div,header, nav, main,article, aside, footer,section{
	display:block;
}

.head{
	
	width:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 7;
	box-shadow: 0 3px 2px rgba(0,0,0,.75 );
	background:linear-gradient(to top, #471C1C, #119090);
}

.head ul{
	padding-top:30px;
	padding-bottom:10px;
	
	
}

.head li{
	
	display: inline;
	text-align:center;
	margin-left: 80px;	
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	border-radius:8px;
	padding: 8px;
	font-size: 22px;
	font-family:Adobe Gothic Std;
	font-weight:bold;
	background-color:white;
	
		
	
}
.head li a{
	text-decoration:none;
	color: #093E89;

}

.head li a:hover{
	color: red;
	cursor:pointer;
	font-size:25px;
}
main{
	height:100;
	width: 100%;	
	margin-top:90px;
	background: linear-gradient(to bottom right, white, lightgreen);
}

.exp{
	clear:both;
	margin-bottom:30px;
	padding-bottom:40px;
	padding-top:100px;

}
.about{
	
	float:left;
	margin: 40px 30px;
	padding : 20px 20px;
	background: linear-gradient(to bottom, #1FF3F3, #AAFFFF );
	box-shadow: 0 3px 2px rgba(0,0,0,.75 ); 
	border-radius:20px;
	
}
	
.about h1{
	Font-family: verdana, sans-serif;
	font-size: 33px;
	color:#2A2A2A;
	
}
.about p{
	Font-family: verdana, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #DC0707;
	
}
.intro{
	width: 500px;
	float: left;
	font-family:  verdana, sans-serif;
	font-size: 17px;
	margin: 0px 30px 30px 120px;
	border-radius:20px;
box-shadow: 0 3px 3px rgba(0,0,0,.75 );
	padding: 20px;
	padding-top:20px;
	background:  linear-gradient( to top left, #79CE4E, white);
	
	
}
.intro p{
	margin-left:30px;
	line-height:1.5;
	}	


#pic{
		width: 70px;
		border-radius: 20px;
		float: left;
		margin-right:20px;
	}

	

 #p1{
	 margin-top : 50px;
	 line-height:1.5;

}
.intro1{					     /* side info ( full name )  */
	float: left;
	margin-top:30px;
	margin-left:20px;
	font-size:17px;
	font-family: verdana, sans-serif;
	text-align:left;
	background: linear-gradient(to bottom, #94BEE9, white);
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	border-radius:20px;
	}

.intro1  th{
		padding:15px;
		color:#2D2D2D;
}


.ar{
	float:left;
	width: 900px;
	background: linear-gradient(to top, #6F99EE, white);
	border-radius:20px;
	font-family:verdana, sans-serif;
	margin: 0px 0px 0px 55px;
	box-shadow: 0 3px 2px rgba(0,0,0,.75 );
	padding:0 20px 0 20px;
	
	}
	
	.col1{
		background-color:white;
		border-radius:20px;
		box-shadow: 1px 0px 1px 1px rgba(0,0,0,.75 );
		margin: 30px 0;
		
	}
	.col1 h2{
	
	width:250px;
	text-align: center;
	
	border-radius: 20px;
	
	
		
		
	}
	#col2{
		background-color:white;
		border-radius:20px;
		box-shadow: 1px 0px 1px 1px rgba(0,0,0,.75 );
	
	}
	
	#col2 h2{
		width:400px;
	text-align: center;
	
	border-radius: 20px;
	
	
		
	}

h2{
	width:250px;
	text-align: center ;
	font-family: Helvetica, sans-serif;
	font-size: 19px;
	padding: 10px 0px 0px 0;
	
}



.list{
	margin-left:100px;
	
}

.list li{
	display: inline-block;
	padding: 20px;
	font-style:italic;
	
}
	
 .ar1{
	 float:left;
	width: 900px;
	background: linear-gradient(to top, #AAFFAA, white);
	border-radius:20px;
	font-family:verdana, sans-serif;
	margin: 20px 0px 0px 110px;
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	padding:0 20px 0 20px;
	
 }
	
.period {
	float:left; 
	list-style-type: none;
	width:110px;
	margin:20px 80px 50px 20px;
	font-family:vardana, sans-serif;
	
	
}

.period li{
	margin: 50px 0 190px 0;
	padding:5px;
	background-color:#1D98F5;	
	text-align:center;
	border-radius:3px;
	font-weight:bold;
	color:#E7F8FF;
	box-shadow: 0 3px 8px rgba(100,30,1,.75 );
}



#fix1 li{
	margin-top: -40px;
	margin-bottom:80px;
}

#fix2 li{
	margin-bottom: -10px;
}


.ar2{
	float:left;
	width: 900px;
	background-color:#F0F0F0;
	border-radius:20px;
	font-family:verdana, sans-serif;
	margin: 20px 0px 0px 90px;
	background: linear-gradient(to top, #29A8A8, white);
	padding:0 20px 0 20px;
	
}

.period1{
	float:left; 
	
	width:180px;
	margin:20px 10px 0px 20px;
	font-family:vardana, sans-serif;
	
}
.period1 li{
	list-style-type: none;
	margin: 80px 0 180px 0;
	padding:5px;
	background-color:#1D98F5;	
	text-align:center;
	border-radius:3px;
	font-weight:bold;
	color:#E7F8FF;
	box-shadow: 0 3px 8px rgba(100,30,1,.75 );
	
}
#listControl {
	list-style-type: circle;
	margin-top:20px;
	
}
#listControl li {

	line-height:1.5;
	font-family:vardana, sans-serif;
}

.ar3{
	float:left;
	width: 900px;
	background:linear-gradient(to top, #618B36, white);
	border-radius:20px;
	font-family:verdana, sans-serif;
	margin: 20px 0px 0px 135px;
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	padding:10px 20px 10px 20px;
	
}

.sec2{
	float:left;
	width:640px;
	margin:30px 20px 50px 30px;
	
}
.s1{
	margin-bottom:30px;
	margin-top:20px;
	padding: 10px 30px;
	background-color:white;
	box-shadow: 0 3px 8px rgba(20,30,40,.75 );
	}
	


.header h3 {
	font-size:22px;
	font-family: vardana, sans-serif;
	
	
}
.header p{
	font-family: vardana, sans-serif;
	font-size: 15px;
	font-weight:bold;
	padding:5px 0px 5px 10px;
	color:#2A7FFF;	
}

.header span{
	float:right;
	padding-right:20px;
}

.article p{
	margin:10px 0px 10px 0px;
	line-height:1.5;
	padding:10px;
	font-family: Vardana,sans-serif;
	
	}

.ar4{
	
	float:left;
	width: 870px;
	background: linear-gradient(to bottom, white,#F5A021);
	border-radius:20px;
	font-family:verdana, sans-serif;
	margin: 20px 0px 0px 135px;
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	padding:30px 30px;
	
}
.table{
	margin-left:40px;
	margin-top:10px;
	box-shadow: 0 3px 8px rgba(0,0,0,.75 );
	margin-right:80px;
	
	}

.table thead  th{
	padding:20px 60px;
	background-color:#065B85;
	color:white;
	font-size:18px;
	box-shadow: 0px 2px 1px rgba(1,100,8,0.5 );
	}
	.table tbody td{
		padding: 20px 60px;
		background-color:white;
		 border:1px outset green;
		 font-weight:bold;
		 font-size:15px;
	}
	
	
	
#foot {
	display:inline-block;
	width:99.4%;
	background-color:lightblue;
	padding:4px;
	margin-top:30px;
	}	

#foot div{
	margin-left:200px;
	margin-top: -55px;
padding-left:80px;
	
}

#foot div a{
	font-family:vardana, sans-serif;
	margin-left: 100px;
	margin-right:100px;
	font-size:20px;
	font-weight:bold;
	padding:5px;
}
#foot div a:hover{
	color:red;
	font-size:28px;
	box-shadow: 0px 2px 1px rgba(1,100,8,0.5 );
	background-color:#FFFFAA;
	border-radius:10px;
	}


#foot div img{
	position:relative;
	top:  15px;
	margin-left:60px;
	background-color:yellow;
	border-radius:25px;
}
#number{
	
	font-size:22px;
	font-weight:bold;
}

#foot h3{
	font-size:28px;
	margin-left:60px;
}


	
	
	
	
	
	
	